.mobile-menu{
    width: 100vw;
    height: 100vh;
    display: none;
    background-color:rgb(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
    box-shadow: 0px 29px 80px rgb(0,0,0,0.3);
    transition: all 0.3s ease;
    transform: translate(-100vw);
    /* margin-top:89px;
    align-items: center;
    border-bottom: 2px;
    text-decoration: none;
    list-style: none; */
 
 
 } 
 
 .mobile-menu-container{
   width: 60vw;
   height: 100vh;
   padding: 2rem;
   background-color:rgb(168, 167, 167);
   color: #fff;
 }
 .mobile-menu.active{
    opacity: 1;
    transform: translateX(0);
}
.logo{
    margin-bottom: 3rem;
}
.mobile-menu ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-left: -2rem;
}
@media (max-width:769px) {
    .mobile-menu{
        display: block;
    }
}